@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Sen', sans-serif;
}


/* navegation bar */

.icons-link {
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.search:hover {
    transition: all .2s;
    cursor: pointer;
    transform: scale(1.1);
}

.bag:hover {
    transition: all .2s;
    cursor: pointer;
    transform: scale(1.1);
}

.user:hover {
    transition: all .2s;
    cursor: pointer;
    transform: scale(1.1);
}


/* animacion mensaje inferior */

.marquesina {
    background: #000000;
    color: #ffff;
    font-size: 0.5rem;
    height: 12px;
    z-index: 1000;
    position: fixed;
    bottom: 0%;
}


/* hamburguer menu === pendiente */


/* pagina home */

.best-deals {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.best-deals h3 {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 2%;
}

.destacados {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 10px;
    justify-items: center;
}

.mujer {
    align-self: center;
    width: 90%;
    max-width: 500px;
}

.destacados ul {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.destacados ul li {
    padding-top: 4%;
    list-style-type: none;
    text-align: center;
    flex-basis: 50%;
    padding-bottom: 3%;
}

.destacados ul li img {
    width: 80%;
    max-width: 400px;
}

.imagen-texto img {
    background-image: url("../imagenes/bannerinferior.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-attachment: fixed;
}

.productos-fiji-down {
    justify-content: space-between;
    grid-column-gap: 10px;
    text-decoration: none;
    padding: 5%;
}

.productos-fiji-down ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 3em 1em;
}

.productos-fiji-down ul li {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.productos-fiji-down img {
    width: 100%;
    max-width: 1000px;
}

.productos-fiji-down p {
    padding-top: 2%;
    padding-bottom: 8%;
    font-size: 0.8rem;
    text-align: center;
}


/* footer */

.footer-arriba {
    border-top: thin solid #D6D6D6;
    margin: 0 15%;
}

.pie {
    background-image: #F2F5E0;
}

.newsletter-info {
    font-size: 0.8rem;
}

.newsletter-email {
    padding-top: 2%;
    padding-bottom: 5%;
    font-size: 0.8rem;
}

.footer-info {
    font-size: 0.5rem;
}

.footer-contact {
    font-size: 0.5rem;
}

.footer-inferior {
    font-size: 0.5rem;
}


/* boton para subir al hacer scroll */

.ir-arriba-boton {
    display: none;
    position: fixed;
    z-index: 1000;
    right: 25px;
    bottom: 25px;
    transition: all .2s;
    align-self: center;
    cursor: pointer;
}

.ir-arriba-boton:hover {
    transform: scale(1.1);
}

.to-top {
    border-radius: 50%;
}


/* ==== pagina productos ==== */

.banner-product {
    background-image: url("../imagenes/slidemate.jpg ");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.titulo-articulos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4%;
}

.titulo-articulos h2 {
    font-size: 1.2rem;
}

.titulo-articulos h3 {
    font-size: 0.8rem;
}

.articulos-varios {
    justify-content: space-between;
    grid-column-gap: 10px;
    text-decoration: none;
    padding: 5%;
}

.articulos-varios ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 3em 1em;
}

.articulos-varios ul li {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.articulos-varios img {
    width: 100%;
    max-width: 1000px;
}

.articulos-varios p {
    padding-top: 2%;
    padding-bottom: 8%;
    font-size: 0.8rem;
}


/* ==== pagina sonbre nosotros ==== */

.about-us {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}

.about-us img {
    width: 100%;
}

.info-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
}

.info-nosotros h2 {
    font-size: 1.2rem;
    padding-bottom: 5%;
}

.info-nosotros p {
    font-size: 0.8rem;
    padding-bottom: 1%;
}


/* ==== pagina info & ayuda ==== */

.info-fiji {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding-bottom: 5%;
}

.info-fiji div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    font-size: 0.8rem;
}

.info-fiji h3 {
    padding: 2%;
    font-size: 1.2rem;
}

.info-fiji img {
    background-image: url("../imagenes/info-envio.jpg ");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    max-width: 1200px;
}


/* ==== pagina contacto ==== */

.contacto {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.contacto h2 {
    font-size: 1.2rem;
    padding-bottom: 5%;
}

.contacto p {
    font-size: 0.9rem;
    padding-bottom: 2%;
}

.contacto ul li {
    font-size: 0.9rem;
    text-decoration: none;
    list-style: none;
}

.formulario {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    flex-wrap: wrap;
}

form div {
    padding: 5%;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 30px;
    width: 250px;
}

.enviar input {
    background-color: #000000;
    color: #ffffff;
    height: 30px;
    width: 60px;
    border: #000000;
}


/* ====== Media Queries ======== */

@media (min-width: 768px) {
    /* .nav-background {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1, 1fr);
        height: 4rem;
    }
    .nav-background img {
        width: 40%;
        max-width: 200px;
    }
    .links-iconos {
        grid-row: 1/1;
        grid-column: 12/12;
        justify-content: space-between;
        align-content: center
    }
    .nav-background a {
        grid-row: 1/1;
        grid-column: 2/3;
        text-decoration: none;
        display: inline-block;
        font-size: rem;
        color: #000000;
    }
    .links-iconos {
        grid-row: 1/1;
        grid-column: 12/12;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center
    }
    .nav-link {
        padding-top: 1%;
        text-decoration: none;
        color: #000000;
        padding-left: 2%;
        display: flex;
        flex-wrap: wrap;
        height: 40px;
        font-size: 0.8rem;
    } */
    /* pagina home */
    .imagen {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .best-deals {
        padding: 70px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-self: center;
    }
    .best-deals h3 {
        font-size: 1.5rem;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .mujer {
        width: 100%;
        max-width: 500px;
    }
    .destacados {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3em 1em;
        justify-items: center;
    }
    .destacados ul li img {
        width: 80%;
        max-width: 400px;
    }
    .productos-fiji-down {
        justify-content: space-between;
        grid-column-gap: 10px;
        text-decoration: none;
        padding: 5%;
    }
    .productos-fiji-down ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-gap: 3em 1em;
    }
    .productos-fiji-down ul li {
        padding: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .productos-fiji-down img {
        width: 100%;
        max-width: 1000px;
    }
    .productos-fiji-down p {
        padding-top: 2%;
        padding-bottom: 8%;
        font-size: 1rem;
    }
    /* footer */
    .footer-arriba {
        border-top: thin solid #D6D6D6;
        margin: 0 15%;
    }
    /* boton para subir al hacer scroll */
    .ir-arriba-boton {
        display: block;
        position: fixed;
        z-index: 1000;
        right: 25px;
        bottom: 25px;
        transition: all .2s;
        align-self: center;
        cursor: pointer;
    }
    .ir-arriba-boton:hover {
        transform: scale(1.1);
    }
    .to-top {
        border-radius: 50%;
    }
    /* animacion mensaje inferior */
    div .mensaje-texto {
        font-size: 1rem;
    }
    /* ==== pagina productos =====*/
    .titulo-articulos h2 {
        font-size: 1.5rem;
    }
    .titulo-articulos h3 {
        font-size: 1rem;
    }
    .articulos-varios {
        justify-content: space-between;
        grid-column-gap: 10px;
        text-decoration: none;
        padding: 5%;
    }
    .articulos-varios ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-gap: 3em 1em;
    }
    .articulos-varios ul li {
        padding: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .articulos-varios img {
        width: 100%;
        justify-self: center;
    }
    .articulos-varios p {
        padding-top: 2%;
        padding-bottom: 8%;
        font-size: 1rem;
        text-align: center;
    }
    /* ==== pagina sonbre nosotros ==== */
    .info-nosotros h2 {
        font-size: 1.5rem;
    }
    .info-nosotros p {
        font-size: 1rem;
    }
    /* ==== pagina info & ayuda ==== */
    .info-fiji div {
        font-size: 1rem;
    }
    .info-fiji h3 {
        padding: 2%;
        font-size: 1.5rem;
    }
    /* ==== pagina contacto ==== */
    .contacto h2 {
        font-size: 1.8rem;
    }
    .contacto p {
        font-size: 1.2rem;
    }
    .contacto ul li {
        font-size: 1rem;
        padding: 2%;
    }
    form div {
        padding: 2%;
    }
    .box {
        height: 50px;
        width: 500px;
    }
    .enviar input {
        height: 50px;
        width: 90px;
    }
}

@media (min-width: 1200px) {
    .nav-background {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(1, 1fr);
        height: 4rem;
    }
    .nav-background img {
        width: 30%;
        max-width: 200px;
    }
    .links-iconos {
        grid-row: 1/1;
        grid-column: 12/12;
        justify-content: space-between;
        align-content: center
    }
    .nav-background a {
        grid-row: 1/1;
        grid-column: 2/3;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        color: #000000;
    }
    .links-iconos {
        grid-row: 1/1;
        grid-column: 12/12;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center
    }
    .nav-link {
        padding-top: 1%;
        text-decoration: none;
        color: #000000;
        padding-left: 2%;
        display: flex;
        flex-wrap: wrap;
        height: 40px;
        font-size: 1rem;
    }
    /* pagina home */
    .imagen {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    .slide-frutas img {
        background-image: url("../imagenes/slidefrutas.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
    }
    .best-deals {
        padding-right: 5%;
    }
    .best-deals h3 {
        font-size: 2.5rem;
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .mujer {
        width: 100%;
        max-width: 500px;
    }
    .destacados {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3em 2em;
        justify-items: center;
        padding-top: 5%;
    }
    .destacados ul li {
        font-size: 1.2rem;
    }
    .destacados ul li img {
        width: 90%;
        max-width: 400px;
    }
    .productos-fiji-down {
        justify-content: space-between;
        grid-column-gap: 20px;
        text-decoration: none;
        padding: 5%;
    }
    .productos-fiji-down ul {
        display: grid;
        grid-template-columns: repeat (4, 1fr);
        justify-items: center;
        grid-gap: 3em 2em;
    }
    .productos-fiji-down ul li {
        padding: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .articulos-varios p {
        padding-top: 2%;
        padding-bottom: 8%;
        font-size: 1.2rem;
        text-align: center;
    }
    /* footer */
    .footer-arriba {
        border-top: thin solid #D6D6D6;
        margin: 0 15%;
    }
    /* boton para subir al hacer scroll */
    .ir-arriba-boton {
        display: block;
        position: fixed;
        z-index: 1000;
        right: 25px;
        bottom: 25px;
        transition: all .2s;
        align-self: center;
        cursor: pointer;
    }
    .ir-arriba-boton:hover {
        transform: scale(1.1);
    }
    .to-top {
        border-radius: 50%;
    }
    div .mensaje-texto {
        font-size: 1rem;
    }
    /* ==== pagina productos =====*/
    .titulo-articulos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .titulo-articulos h2 {
        font-size: 1.8rem;
    }
    .titulo-articulos h3 {
        font-size: 1.5rem;
    }
    .articulos-varios {
        justify-content: space-between;
        grid-column-gap: 20px;
        text-decoration: none;
        padding: 5%;
    }
    .articulos-varios ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        grid-gap: 3em 2em;
    }
    .articulos-varios ul li {
        padding: 0;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .articulos-varios p {
        padding-top: 2%;
        padding-bottom: 8%;
        font-size: 1.2rem;
        text-align: center;
    }
    /* ==== pagina sonbre nosotros ==== */
    .info-nosotros h2 {
        font-size: 1.2rem;
        padding-top: 5%;
    }
    .info-nosotros p {
        font-size: 1.5rem;
    }
    /* ==== pagina info & ayuda ==== */
    .info-fiji div {
        font-size: 1rem;
    }
    .info-fiji h3 {
        padding: 2%;
        font-size: 1.8rem;
    }
    /* ==== pagina contacto ==== */
    .contacto h2 {
        font-size: 1.8rem;
    }
    .contacto p {
        font-size: 1.2rem;
        padding-bottom: 2%;
    }
    .contacto ul li {
        font-size: 1.2rem;
    }
    .box {
        height: 60px;
        width: 600px;
    }
    .enviar input {
        height: 40px;
        width: 70px;
    }
}


/* ====== Animaciones ======== */

@keyframes mensaje-text {
    from {
        right: -100%;
    }
    to {
        right: 100%;
    }
}