         .icons-link {
             display: flex;
             justify-content: center;
             flex-direction: row;
             justify-content: space-between;
             align-items: center;
             padding-right: 2%;
             .search {
                 &:hover {
                     transition: all .2s;
                     cursor: pointer;
                     transform: scale(1.1);
                 }
             }
             .bag {
                 &:hover {
                     transition: all .2s;
                     cursor: pointer;
                     transform: scale(1.1);
                 }
             }
             .user {
                 &:hover {
                     transition: all .2s;
                     cursor: pointer;
                     transform: scale(1.1);
                 }
             }
         }