/* ==== pagina home ==== */

.best-deals {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    .name {
        font-size: $font-size-1-2;
        font-weight: bold;
        text-align: center;
        padding-top: 4%;
        padding-bottom: 2%;
        animation-name: entrada;
        animation-duration: 4s;
        animation-delay: .8s;
        animation-iteration-count: 1;
    }
    .destacados {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 10px;
        justify-items: center;
        .mujer {
            align-self: center;
            width: 90%;
            max-width: 500px;
        }
        ul {
            padding: 0;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            li {
                padding-top: 4%;
                list-style-type: none;
                text-align: center;
                flex-basis: 50%;
                padding-bottom: 3%;
                h3 {
                    padding-top: 4%;
                    font-size: $font-size-1-1;
                }
                strong {
                    font-size: $font-size-1;
                }
                img {
                    width: 80%;
                    max-width: 400px;
                }
            }
        }
    }
}

.productos-fiji-down {
    .card-body {
        h3 {
            font-size: $font-size-1-1;
        }
        strong {
            font-size: $font-size-1;
        }
    }
}


/* animacion mensaje inferior */

.marquesina {
    background: $color-black;
    color: $color-white;
    font-size: $font-size-08;
    height: 20px;
    position: fixed;
    bottom: 0%;
}

.banner-inferior {
    margin-bottom: 4%;
}


/* ==== pagina product ==== */

.articulos {
    .img-fluid {
        padding-top: 17%;
    }
}

.container-productos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 10%;
    .productos-pag {
        letter-spacing: .1em;
        margin: 0%;
        font-size: $font-size-09;
        align-self: center;
    }
    .filtrar-productos {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-bottom: 5%;
        .pagina-filtro {
            font-size: $font-size-09;
        }
        ul {
            list-style-type: none;
            text-align: center;
        }
    }
    a {
        text-decoration: none;
        .card-body {
            h3 {
                font-size: $font-size-1-1;
                color: $color-black;
            }
            strong {
                font-size: $font-size-1;
                color: $color-black;
            }
        }
    }
}


/* ==== pagina product inside ==== */

.pagina-articulos {
    margin: 1rem;
    border: none;
    .info-articulos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .crumb-productos {
            li {
                font-size: $font-size-07;
                color: $color-black;
                a {
                    text-decoration: none;
                    color: $color-black;
                }
            }
        }
        h2 {
            font-size: $font-size-1-5;
        }
        .price {
            font-size: $font-size-1-2;
        }
        .boton-primario {
            @extend .boton;
            width: 200px;
            height: 40px;
        }
    }
}


/* ==== pagina about us ==== */

.info-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    h2 {
        padding-top: 5%;
        font-size: 1.2rem;
        font-weight: bold;
        padding-bottom: 4%;
    }
    p {
        font-size: $font-size-08;
        padding-bottom: 1%;
    }
}


/* ==== pagina info ==== */

.info-fiji div {
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    padding-bottom: 3%;
    font-size: $font-size-08;
    padding-left: 5%;
    padding-right: 5%;
    .info-imagen {
        display: none;
    }
    h2 {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 8%;
        font-size: $font-size-1-2;
        font-weight: bold;
    }
    h3 {
        align-items: center;
        justify-content: center;
        font-size: 0.9rem;
        padding-bottom: 2%;
        border-bottom: thin solid rgba(0, 0, 0, 0.25);
    }
}


/* ==== pagina contact ==== */

.contacto {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2%;
    padding-top: 2%;
    .container-contacto {
        flex-direction: column;
    }
    h2 {
        padding-top: 5%;
        font-size: $font-size-1-2;
        font-weight: bold;
    }
    p {
        font-size: $font-size-08;
    }
}

.formulario {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5%;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2%;
        flex-wrap: wrap;
        div {
            padding: 5%;
            .box {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                resize: none;
                @include size (30px, 250px)
            }
            .mensaje {
                @include size (80px, 250px)
            }
        }
        .enviar input {
            @extend .boton;
            height: 40px;
            width: 90px;
            .click {
                &:hover {
                    animation: 0.7s click 1;
                }
            }
        }
    }
}