/* color */

$color-black: #000000;
$color-white: #ffffff;
$color-green: #ccd5ae;

/* footer background color */

$footer-color:#F2F5E0;
$border-footer:#D6D6D6;

/* scroll shadow */

$box-shadow-scroll:#a3a3a3;