/* color */

$color-black: #000000;
$color-white: #ffffff;
$color-green: #ccd5ae;

/* footer background color */

$footer-color:#F2F5E0;
$border-footer:#D6D6D6;

/* scroll shadow */

$box-shadow-scroll:#a3a3a3;

/* font size  */

$font-size-07: 0.7rem;
$font-size-08: 0.8rem;
$font-size-09: 0.9rem;
$font-size-1: 1rem;
$font-size-1-1: 1.1rem;
$font-size-1-2: 1.2rem;
$font-size-1-4: 1.4rem;
$font-size-1-5: 1.5rem;
$font-size-1-6: 1.6rem;
$font-size-1-8: 1.8rem;
$font-size-1-9: 1.9rem;
$font-size-2: 2rem;
$font-size-2-2: 2.2rem;
$font-size-2-3: 2.3rem;